header {
  background-color: #CB4046;
}

main {
  background-image: url(./images/foresttothebay.jpg);
}

section {
  background-color: #FFFFFF;
  margin-left: 30px;
}

footer {
  background-color: #000000;
}

#NaesteLoeb {
  background-color: #000000;
}

#NewsLetter {
  background-color: #000000;
}