header {
  background-color: #CB4046;
}

main {
  background-image: url(./images/foresttothebay.jpg);
  background-attachment: fixed;
}

section {
  background-color: #FFFFFF;
  margin-left: 10px;
  margin-bottom: 30px;
  border-radius: 3px;
}

footer {
  background-color: #000000;
}

#NaesteLoeb {
  background-color: #000000;
}

#NewsLetter {
  background-color: #000000;
}

#SponsoreContent .col-3 .card{
  height: 200px;
  margin-bottom: 20px;
} 

#SponsoreContent .col-2 .card{
  height: 125px;
  margin-bottom: 20px;
}

#SponsoreContent p{
  background-color: #CB4046;
  color: #FFFFFF;
  width: 35%;
  padding: 8px 10px;
  margin: 25px 0px;
}

#Content, #RightColumn, .container-fluid, .row{
  padding: 0px;
  margin: 0px;
}

#Content .logo{
  width: 30%;
  margin: 20px 10px;
}

.navbar{
  padding: 8px 14px;
}

.nav-link{
  padding: 0px 10px 6px;
  color: #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.logo{
  width: 60%;
  margin: 15px 10px;
}

.col-10{
  padding-left: 0px;
}

.col-4{
  padding-left: 10px;
  padding-right: 10px;
}

.card{
  margin-bottom: 15px;
}

.card-img-top{
  height: 120px;
}

.card-body{
  background-color: #EFEFEF;
  padding: 5px;
}

.card p{
  margin-bottom: 5px;
}

.card-text{
  height: 70px;
  overflow: hidden;
  font-size: 12px;
}

.event-dato{
  font-size: 10px;
  font-style: italic;
}

.card a{
  padding: 5px 10px;
  text-align: center;
  background-color: #CB4046;
  color: #FFFFFF;
}