header {
  background-color: #CB4046;
}

footer {
  background-color: #000000;
}

#NaesteLoeb {
  background-color: #000000;
}

#Content {
  background-image: url(./images/foresttothebay.jpg);
}

#NewsLetter {
  background-color: #000000;
}